In [2]:
import pandas as pd

df = pd.read_parquet('yellow_tripdata_2009-02.parquet')

df.head()

,vendor_name,Trip_Pickup_DateTime,Trip_Dropoff_DateTime,Passenger_Count,Trip_Distance,Start_Lon,Start_Lat,Rate_Code,store_and_forward,End_Lon,End_Lat,Payment_Type,Fare_Amt,surcharge,mta_tax,Tip_Amt,Tolls_Amt,Total_Amt
0,DDS,2009-02-03 08:25:00,2009-02-03 08:33:39,1,1.60,-73.992768,40.758325,NaN,NaN,-73.994710,40.739723,CASH,6.9,0.0,NaN,0.0,0.0,6.9
1,VTS,2009-02-28 00:26:00,2009-02-28 00:40:00,5,3.05,0.000000,0.000000,NaN,NaN,0.000000,0.000000,CASH,10.5,0.5,NaN,0.0,0.0,11.0
2,DDS,2009-02-22 00:39:23,2009-02-22 00:45:52,1,1.50,-73.137393,41.366138,NaN,NaN,-73.137393,41.366138,CASH,5.7,0.5,NaN,0.0,0.0,6.2
3,VTS,2009-02-28 12:47:00,2009-02-28 12:54:00,1,1.42,-73.980458,40.748445,NaN,NaN,-73.996103,40.737095,CASH,6.1,0.0,NaN,0.0,0.0,6.1
4,DDS,2009-02-05 18:34:35,2009-02-05 18:43:26,1,1.50,-73.137393,41.366138,NaN,NaN,-73.137393,41.366138,CASH,6.9,1.0,NaN,0.0,0.0,7.9

In [3]:
print(df['store_and_forward'].value_counts(dropna=False))

store_and_forward
NaN    9009801
0.0    4268846
1.0     101475
Name: count, dtype: int64

In [4]:
print(df.isnull().sum())

vendor_name                     0
Trip_Pickup_DateTime            0
Trip_Dropoff_DateTime           0
Passenger_Count                 0
Trip_Distance                   0
Start_Lon                       0
Start_Lat                       0
Rate_Code                13380122
store_and_forward         9009801
End_Lon                         0
End_Lat                         0
Payment_Type                    0
Fare_Amt                        0
surcharge                       0
mta_tax                  13380122
Tip_Amt                         0
Tolls_Amt                       0
Total_Amt                       0
dtype: int64

In [5]:
len(df)

13380122

In [6]:
print(df['Payment_Type'].value_counts(dropna=False))

Payment_Type
CASH         5573418
Cash         4623482
Credit       2970754
CREDIT        161720
No Charge      42024
Dispute         8724
Name: count, dtype: int64

In [10]:
import pandas as pd
import geopandas as gpd
import pyarrow.parquet as pq
from shapely.geometry import Point

# Load NYC taxi zones shapefile
zones = gpd.read_file(r'F:\Data Engineering Projects\NYC Tax\taxi_zones\taxi_zones.shp')
zones = zones.to_crs(epsg=4326)

# Initialize final result DataFrame
final_df = pd.DataFrame()

# Load the Parquet file in chunks using PyArrow
parquet_file = pq.ParquetFile('yellow_tripdata_2009-02.parquet')

# Loop through batches
for i, batch in enumerate(parquet_file.iter_batches(batch_size=100_000)):
    print(f"Processing batch {i+1}")
    
    # Convert batch to pandas DataFrame
    df = batch.to_pandas()

    # Rename coordinates columns if needed
    df.rename(columns={
        'Start_Lon': 'start_lon',
        'Start_Lat': 'start_lat',
        'End_Lon': 'end_lon',
        'End_Lat': 'end_lat'
    }, inplace=True)

    # Drop missing coordinate rows
    df = df.dropna(subset=['start_lon', 'start_lat', 'end_lon', 'end_lat'])

    # ------------------------------
    # Start Locations â†’ start_zone
    # ------------------------------
    start_points = gpd.GeoDataFrame(
        df.copy(),
        geometry=gpd.points_from_xy(df['start_lon'], df['start_lat']),
        crs='EPSG:4326'
    )
    start_with_zone = gpd.sjoin(start_points, zones, how='left', predicate='within')
    df['start_zone'] = start_with_zone['zone'].values
    df['start_borough'] = start_with_zone['borough'].values

    # ------------------------------
    # End Locations â†’ end_zone
    # ------------------------------
    end_points = gpd.GeoDataFrame(
        df.copy(),
        geometry=gpd.points_from_xy(df['end_lon'], df['end_lat']),
        crs='EPSG:4326'
    )
    end_with_zone = gpd.sjoin(end_points, zones, how='left', predicate='within')
    df['end_zone'] = end_with_zone['zone'].values
    df['end_borough'] = end_with_zone['borough'].values

    # Drop geometry column to reduce memory
    df.drop(columns='geometry', inplace=True, errors='ignore')

    # Append to final DataFrame
    final_df = pd.concat([final_df, df], ignore_index=True)

    print(f"â†’ Batch {i+1} complete: {len(df)} records processed.")

# Save final enriched dataset to a new Parquet file (optional)
final_df.to_parquet('yellow_tripdata_2009-02_enriched.parquet', index=False)

print(f"\nâœ… All done! Total enriched records: {len(final_df)}")

Processing batch 1
â†’ Batch 1 complete: 100000 records processed.
Processing batch 2
â†’ Batch 2 complete: 100000 records processed.
Processing batch 3
â†’ Batch 3 complete: 100000 records processed.
Processing batch 4
â†’ Batch 4 complete: 100000 records processed.
Processing batch 5
â†’ Batch 5 complete: 100000 records processed.
Processing batch 6
â†’ Batch 6 complete: 100000 records processed.
Processing batch 7
â†’ Batch 7 complete: 100000 records processed.
Processing batch 8
â†’ Batch 8 complete: 100000 records processed.
Processing batch 9
â†’ Batch 9 complete: 100000 records processed.
Processing batch 10
â†’ Batch 10 complete: 100000 records processed.
Processing batch 11
â†’ Batch 11 complete: 100000 records processed.
Processing batch 12
â†’ Batch 12 complete: 100000 records processed.
Processing batch 13
â†’ Batch 13 complete: 100000 records processed.
Processing batch 14
â†’ Batch 14 complete: 100000 records processed.
Processing batch 15
â†’ Batch 15 complete: 100000 records processed.
Processing batch 16
â†’ Batch 16 complete: 100000 records processed.
Processing batch 17
â†’ Batch 17 complete: 100000 records processed.
Processing batch 18
â†’ Batch 18 complete: 100000 records processed.
Processing batch 19
â†’ Batch 19 complete: 100000 records processed.
Processing batch 20
â†’ Batch 20 complete: 100000 records processed.
Processing batch 21
â†’ Batch 21 complete: 100000 records processed.
Processing batch 22
â†’ Batch 22 complete: 100000 records processed.
Processing batch 23
â†’ Batch 23 complete: 100000 records processed.
Processing batch 24
â†’ Batch 24 complete: 100000 records processed.
Processing batch 25
â†’ Batch 25 complete: 100000 records processed.
Processing batch 26
â†’ Batch 26 complete: 100000 records processed.
Processing batch 27
â†’ Batch 27 complete: 100000 records processed.
Processing batch 28
â†’ Batch 28 complete: 100000 records processed.
Processing batch 29
â†’ Batch 29 complete: 100000 records processed.
Processing batch 30
â†’ Batch 30 complete: 100000 records processed.
Processing batch 31
â†’ Batch 31 complete: 100000 records processed.
Processing batch 32
â†’ Batch 32 complete: 100000 records processed.
Processing batch 33
â†’ Batch 33 complete: 100000 records processed.
Processing batch 34
â†’ Batch 34 complete: 100000 records processed.
Processing batch 35
â†’ Batch 35 complete: 100000 records processed.
Processing batch 36
â†’ Batch 36 complete: 100000 records processed.
Processing batch 37
â†’ Batch 37 complete: 100000 records processed.
Processing batch 38
â†’ Batch 38 complete: 100000 records processed.
Processing batch 39
â†’ Batch 39 complete: 100000 records processed.
Processing batch 40
â†’ Batch 40 complete: 100000 records processed.
Processing batch 41
â†’ Batch 41 complete: 100000 records processed.
Processing batch 42
â†’ Batch 42 complete: 100000 records processed.
Processing batch 43
â†’ Batch 43 complete: 100000 records processed.
Processing batch 44
â†’ Batch 44 complete: 100000 records processed.
Processing batch 45
â†’ Batch 45 complete: 100000 records processed.
Processing batch 46
â†’ Batch 46 complete: 100000 records processed.
Processing batch 47
â†’ Batch 47 complete: 100000 records processed.
Processing batch 48
â†’ Batch 48 complete: 100000 records processed.
Processing batch 49
â†’ Batch 49 complete: 100000 records processed.
Processing batch 50
â†’ Batch 50 complete: 100000 records processed.
Processing batch 51
â†’ Batch 51 complete: 100000 records processed.
Processing batch 52
â†’ Batch 52 complete: 100000 records processed.
Processing batch 53
â†’ Batch 53 complete: 100000 records processed.
Processing batch 54
â†’ Batch 54 complete: 100000 records processed.
Processing batch 55
â†’ Batch 55 complete: 100000 records processed.
Processing batch 56
â†’ Batch 56 complete: 100000 records processed.
Processing batch 57
â†’ Batch 57 complete: 100000 records processed.
Processing batch 58
â†’ Batch 58 complete: 100000 records processed.
Processing batch 59
â†’ Batch 59 complete: 100000 records processed.
Processing batch 60
â†’ Batch 60 complete: 100000 records processed.
Processing batch 61
â†’ Batch 61 complete: 100000 records processed.
Processing batch 62
â†’ Batch 62 complete: 100000 records processed.
Processing batch 63
â†’ Batch 63 complete: 100000 records processed.
Processing batch 64
â†’ Batch 64 complete: 100000 records processed.
Processing batch 65
â†’ Batch 65 complete: 100000 records processed.
Processing batch 66
â†’ Batch 66 complete: 100000 records processed.
Processing batch 67
â†’ Batch 67 complete: 100000 records processed.
Processing batch 68
â†’ Batch 68 complete: 100000 records processed.
Processing batch 69
â†’ Batch 69 complete: 100000 records processed.
Processing batch 70
â†’ Batch 70 complete: 100000 records processed.
Processing batch 71
â†’ Batch 71 complete: 100000 records processed.
Processing batch 72
â†’ Batch 72 complete: 100000 records processed.
Processing batch 73
â†’ Batch 73 complete: 100000 records processed.
Processing batch 74
â†’ Batch 74 complete: 100000 records processed.
Processing batch 75
â†’ Batch 75 complete: 100000 records processed.
Processing batch 76
â†’ Batch 76 complete: 100000 records processed.
Processing batch 77
â†’ Batch 77 complete: 100000 records processed.
Processing batch 78
â†’ Batch 78 complete: 100000 records processed.
Processing batch 79
â†’ Batch 79 complete: 100000 records processed.
Processing batch 80
â†’ Batch 80 complete: 100000 records processed.
Processing batch 81
â†’ Batch 81 complete: 100000 records processed.
Processing batch 82
â†’ Batch 82 complete: 100000 records processed.
Processing batch 83
â†’ Batch 83 complete: 100000 records processed.
Processing batch 84
â†’ Batch 84 complete: 100000 records processed.
Processing batch 85
â†’ Batch 85 complete: 100000 records processed.
Processing batch 86
â†’ Batch 86 complete: 100000 records processed.
Processing batch 87
â†’ Batch 87 complete: 100000 records processed.
Processing batch 88
â†’ Batch 88 complete: 100000 records processed.
Processing batch 89
â†’ Batch 89 complete: 100000 records processed.
Processing batch 90
â†’ Batch 90 complete: 100000 records processed.
Processing batch 91
â†’ Batch 91 complete: 100000 records processed.
Processing batch 92
â†’ Batch 92 complete: 100000 records processed.
Processing batch 93
â†’ Batch 93 complete: 100000 records processed.
Processing batch 94
â†’ Batch 94 complete: 100000 records processed.
Processing batch 95
â†’ Batch 95 complete: 100000 records processed.
Processing batch 96
â†’ Batch 96 complete: 100000 records processed.
Processing batch 97
â†’ Batch 97 complete: 100000 records processed.
Processing batch 98
â†’ Batch 98 complete: 100000 records processed.
Processing batch 99
â†’ Batch 99 complete: 100000 records processed.
Processing batch 100
â†’ Batch 100 complete: 100000 records processed.
Processing batch 101
â†’ Batch 101 complete: 100000 records processed.
Processing batch 102
â†’ Batch 102 complete: 100000 records processed.
Processing batch 103
â†’ Batch 103 complete: 100000 records processed.
Processing batch 104
â†’ Batch 104 complete: 100000 records processed.
Processing batch 105
â†’ Batch 105 complete: 100000 records processed.
Processing batch 106
â†’ Batch 106 complete: 100000 records processed.
Processing batch 107
â†’ Batch 107 complete: 100000 records processed.
Processing batch 108
â†’ Batch 108 complete: 100000 records processed.
Processing batch 109
â†’ Batch 109 complete: 100000 records processed.
Processing batch 110
â†’ Batch 110 complete: 100000 records processed.
Processing batch 111
â†’ Batch 111 complete: 100000 records processed.
Processing batch 112
â†’ Batch 112 complete: 100000 records processed.
Processing batch 113
â†’ Batch 113 complete: 100000 records processed.
Processing batch 114
â†’ Batch 114 complete: 100000 records processed.
Processing batch 115
â†’ Batch 115 complete: 100000 records processed.
Processing batch 116
â†’ Batch 116 complete: 100000 records processed.
Processing batch 117
â†’ Batch 117 complete: 100000 records processed.
Processing batch 118
â†’ Batch 118 complete: 100000 records processed.
Processing batch 119
â†’ Batch 119 complete: 100000 records processed.
Processing batch 120
â†’ Batch 120 complete: 100000 records processed.
Processing batch 121
â†’ Batch 121 complete: 100000 records processed.
Processing batch 122
â†’ Batch 122 complete: 100000 records processed.
Processing batch 123
â†’ Batch 123 complete: 100000 records processed.
Processing batch 124
â†’ Batch 124 complete: 100000 records processed.
Processing batch 125
â†’ Batch 125 complete: 100000 records processed.
Processing batch 126
â†’ Batch 126 complete: 100000 records processed.
Processing batch 127
â†’ Batch 127 complete: 100000 records processed.
Processing batch 128
â†’ Batch 128 complete: 100000 records processed.
Processing batch 129
â†’ Batch 129 complete: 100000 records processed.
Processing batch 130
â†’ Batch 130 complete: 100000 records processed.
Processing batch 131
â†’ Batch 131 complete: 100000 records processed.
Processing batch 132
â†’ Batch 132 complete: 100000 records processed.
Processing batch 133
â†’ Batch 133 complete: 100000 records processed.
Processing batch 134
â†’ Batch 134 complete: 80122 records processed.

âœ… All done! Total enriched records: 13380122

In [19]:
df.head(20)

,vendor_name,Trip_Pickup_DateTime,Trip_Dropoff_DateTime,Passenger_Count,Trip_Distance,start_lon,start_lat,Rate_Code,store_and_forward,end_lon,...,Fare_Amt,surcharge,mta_tax,Tip_Amt,Tolls_Amt,Total_Amt,start_zone,start_borough,end_zone,end_borough
0,VTS,2009-01-04 02:52:00,2009-01-04 03:02:00,1,2.63,-73.991957,40.721567,NaN,NaN,-73.993803,...,8.9,0.5,NaN,0.00,0.0,9.40,Lower East Side,Manhattan,Brooklyn Heights,Brooklyn
1,VTS,2009-01-04 03:31:00,2009-01-04 03:38:00,3,4.55,-73.982102,40.736290,NaN,NaN,-73.955850,...,12.1,0.5,NaN,2.00,0.0,14.60,Gramercy,Manhattan,Lenox Hill West,Manhattan
2,VTS,2009-01-03 15:43:00,2009-01-03 15:57:00,5,10.35,-74.002587,40.739748,NaN,NaN,-73.869983,...,23.7,0.0,NaN,4.74,0.0,28.44,West Village,Manhattan,East Elmhurst,Queens
3,DDS,2009-01-01 20:52:58,2009-01-01 21:14:00,1,5.00,-73.974267,40.790955,NaN,NaN,-73.996558,...,14.9,0.5,NaN,3.05,0.0,18.45,Upper West Side North,Manhattan,Greenwich Village North,Manhattan
4,DDS,2009-01-24 16:18:23,2009-01-24 16:24:56,1,0.40,-74.001580,40.719382,NaN,NaN,-74.008378,...,3.7,0.0,NaN,0.00,0.0,3.70,Little Italy/NoLiTa,Manhattan,TriBeCa/Civic Center,Manhattan
5,DDS,2009-01-16 22:35:59,2009-01-16 22:43:35,2,1.20,-73.989806,40.735006,NaN,NaN,-73.985021,...,6.1,0.5,NaN,0.00,0.0,6.60,Gramercy,Manhattan,East Village,Manhattan
6,DDS,2009-01-21 08:55:57,2009-01-21 09:05:42,1,0.40,-73.984050,40.743544,NaN,NaN,-73.980260,...,5.7,0.0,NaN,1.00,0.0,6.70,Midtown South,Manhattan,Murray Hill,Manhattan
7,VTS,2009-01-04 04:31:00,2009-01-04 04:36:00,1,1.72,-73.992635,40.748362,NaN,NaN,-73.995585,...,6.1,0.5,NaN,0.00,0.0,6.60,Penn Station/Madison Sq West,Manhattan,Greenwich Village South,Manhattan
8,CMT,2009-01-05 16:29:02,2009-01-05 16:40:21,1,1.60,-73.969690,40.749244,NaN,NaN,-73.990413,...,8.7,0.0,NaN,1.30,0.0,10.00,UN/Turtle Bay South,Manhattan,Garment District,Manhattan
9,CMT,2009-01-05 18:53:13,2009-01-05 18:57:45,1,0.70,-73.955173,40.783044,NaN,NaN,-73.958598,...,5.9,0.0,NaN,0.00,0.0,5.90,Upper East Side North,Manhattan,Upper East Side North,Manhattan
10,CMT,2009-01-05 08:15:38,2009-01-05 08:16:44,1,0.30,-73.986824,40.750893,NaN,NaN,-73.984118,...,2.9,0.0,NaN,0.00,0.0,2.90,Midtown South,Manhattan,Midtown South,Manhattan
11,CMT,2009-01-05 06:21:43,2009-01-05 06:28:41,1,2.30,-74.006100,40.748432,NaN,NaN,-73.978437,...,7.7,0.0,NaN,0.00,0.0,7.70,West Chelsea/Hudson Yards,Manhattan,Midtown Center,Manhattan
12,DDS,2009-01-20 13:44:02,2009-01-20 13:52:43,2,2.10,-73.983339,40.744782,NaN,NaN,-73.981160,...,7.3,0.0,NaN,0.00,0.0,7.30,Midtown South,Manhattan,Alphabet City,Manhattan
13,CMT,2009-01-05 16:19:53,2009-01-05 16:26:48,2,1.20,-73.973510,40.760280,NaN,NaN,-73.962933,...,6.7,0.0,NaN,0.00,0.0,6.70,Midtown Center,Manhattan,Upper East Side North,Manhattan
14,CMT,2009-01-05 17:22:16,2009-01-05 17:27:25,1,0.80,-73.984426,40.757480,NaN,NaN,-73.982519,...,5.9,0.0,NaN,0.00,0.0,5.90,Times Sq/Theatre District,Manhattan,Midtown North,Manhattan
15,CMT,2009-01-05 16:02:52,2009-01-05 16:18:43,1,4.50,-73.991064,40.727654,NaN,NaN,-73.945771,...,13.9,0.0,NaN,0.00,0.0,13.90,East Village,Manhattan,Yorkville East,Manhattan
16,CMT,2009-01-05 12:15:06,2009-01-05 12:27:58,1,1.70,-74.001678,40.747300,NaN,NaN,-73.978957,...,8.5,0.0,NaN,0.00,0.0,8.50,East Chelsea,Manhattan,Murray Hill,Manhattan
17,CMT,2009-01-05 07:49:57,2009-01-05 07:54:11,1,1.00,-73.982457,40.731475,NaN,NaN,-73.973011,...,4.5,0.0,NaN,1.00,0.0,5.50,Gramercy,Manhattan,Kips Bay,Manhattan
18,DDS,2009-01-23 23:57:34,2009-01-24 00:12:40,2,5.00,-73.992554,40.724476,NaN,NaN,-73.953065,...,13.3,0.5,NaN,3.45,0.0,17.25,Greenwich Village South,Manhattan,Yorkville West,Manhattan
19,CMT,2009-01-05 10:23:13,2009-01-05 10:33:56,1,1.30,-73.990089,40.759027,NaN,NaN,-73.983974,...,7.3,0.0,NaN,0.00,0.0,7.30,Clinton East,Manhattan,Midtown South,Manhattan

In [20]:
df.to_parquet('yellow_tripdata_2009-02_enriched.parquet', index=False)
print("âœ… Exported to yellow_tripdata_2009-02_enriched.parquet")

âœ… Exported to yellow_tripdata_2009-02_enriched.parquet

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14092413 entries, 0 to 14092412
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendor_name            object
 1   Trip_Pickup_DateTime   object
 2   Trip_Dropoff_DateTime  object
 3   Passenger_Count        int64
 4   Trip_Distance          float64
 5   Start_Lon              float64
 6   Start_Lat              float64
 7   Rate_Code              float64
 8   store_and_forward      float64
 9   End_Lon                float64
 10  End_Lat                float64
 11  Payment_Type           object
 12  Fare_Amt               float64
 13  surcharge              float64
 14  mta_tax                float64
 15  Tip_Amt                float64
 16  Tolls_Amt              float64
 17  Total_Amt              float64
dtypes: float64(13), int64(1), object(4)
memory usage: 1.9+ GB
None

In [6]:
count_non_null = df['Rate_Code'].count()
print("Number of non-null rate_code values in first 20 rows:", count_non_null)

Number of non-null rate_code values in first 20 rows: 0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14092413 entries, 0 to 14092412
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendor_name            object
 1   Trip_Pickup_DateTime   object
 2   Trip_Dropoff_DateTime  object
 3   Passenger_Count        int64
 4   Trip_Distance          float64
 5   Start_Lon              float64
 6   Start_Lat              float64
 7   Rate_Code              float64
 8   store_and_forward      float64
 9   End_Lon                float64
 10  End_Lat                float64
 11  Payment_Type           object
 12  Fare_Amt               float64
 13  surcharge              float64
 14  mta_tax                float64
 15  Tip_Amt                float64
 16  Tolls_Amt              float64
 17  Total_Amt              float64
dtypes: float64(13), int64(1), object(4)
memory usage: 1.9+ GB